<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CLIENT_ID</key>
	<string>924369462499-e451ovm1fiupuc3lonhhdl3lhis4r7iq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924369462499-e451ovm1fiupuc3lonhhdl3lhis4r7iq</string>
	<key>API_KEY</key>
	<string>AIzaSyBdYiubkKYEMtg4i3w58WOkRZnRSo4nUNI</string>
	<key>GCM_SENDER_ID</key>
	<string>924369462499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TyDon.GraveYardApp</string>
	<key>PROJECT_ID</key>
	<string>graveyardapp-46c96</string>
	<key>STORAGE_BUCKET</key>
	<string>graveyardapp-46c96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:924369462499:ios:060b866b894eece48ad1d6</string>
	<key>DATABASE_URL</key>
	<string>https://graveyardapp-46c96.firebaseio.com</string>
</dict>
</plist>
